/* 这个文件里写的是全局样式,在各个页面都生效 */
body, html, .page {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  user-select: text;
  font-family: 'pingfang SC','helvetica neue',arial,'hiragino sans gb','microsoft yahei ui','microsoft yahei','simsun',sans-serif;
  -webkit-overflow-scrolling: touch;
  position: relative;
}
html {
  background-color: #ededed;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
h1, h2, h3, h4, h5, input {
  margin: 0;
  padding: 0;
}
ul, li {
  list-style-type: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, button, input, textarea, th, td{
  margin: 0;
  padding: 0;
}

.clear:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}

@font-face {
  font-family: 'iconfont';  /* project id 1652918 */
  src: url('//at.alicdn.com/t/font_1652918_r8hcw929nw8.eot');
  src: url('//at.alicdn.com/t/font_1652918_r8hcw929nw8.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1652918_r8hcw929nw8.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1652918_r8hcw929nw8.woff') format('woff'),
  url('//at.alicdn.com/t/font_1652918_r8hcw929nw8.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1652918_r8hcw929nw8.svg#iconfont') format('svg');
}

.icon {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  user-select: none;
}

.login-title-bar {
  display: flex;
  justify-content: space-between;
  height: 45px;
  align-items: center;
  background-color: white;
}

.login-title-bar .back {
  width: 12px;
  margin: 13px;
  display: block;
}
.login-title-bar .register {
  font-size: 20px;
  line-height: 45px;
  padding-right: 10px;
}
.login-title-bar .active {
  opacity: 0;
  user-select: none;
  pointer-events: none;
}
.login-title-bar .left {
  display: flex;
  line-height: 46px;
}

.login-title-bar .left span {
  display: block;
  font-size: 16px;
}